<div class="line">
	<div class="line sub el">
		<div data-x = "0" data-y="200" class="square el" style="">
			<h1 style="color: black; padding: 10px 5px 5px 5px; font-size: 40px"><span><img style="width: 40px; height: 40px; margin: 5px 0px 10px 0px; position: relative; right: 50px;" src="/assets/img/italiano.svg"></span>ITALIANO</h1>
		</div>
		<a href="#modal-1" class="cd-btn cd-modal-trigger" id="toggled" style=" display: inline-block;">Pirandello</a>
	</div>
</div>