<head>
	<title>Francesco Piersanti - 5BI</title>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/trans.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-grid.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/base.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/anime.min.js"></script>
	<script type="text/javascript" src="/assets/js/demo.js"></script>
	<script type="text/javascript" src="/assets/js/myanime.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.fittext.js"></script>
	<script type="text/javascript" src="/assets/js/modernizr.js"></script>
	<script type="text/javascript" src="/assets/js/main.js"></script>
	<script type="text/javascript" src="/assets/js/particles.js"></script>
</head>