<head>
	<title>Francesco Piersanti - 5BI</title>
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-grid.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-reboot.min.css">
	<link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.0/normalize.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="/assets/js/anime.min.js"></script>
	<script type="text/javascript" src="/assets/js/myanime.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.fittext.js"></script>
</head>