<!DOCTYPE html>
<html>
	<% include partials/link.ejs %>
	<body class="cartoon-transition">
		<main class="cd-main-content">
			<div class="jumbotron jumbotron-fluid bgh" style="height: 400px; width: 100%">
				<div class="container" id="header">
					<h1>PIERSANTI<br/>FRANCESCO</h1>
					<h3>5BI</h3>
				</div>
			</div>
			<div class="rightLeft">
				<div class=".col-xl-12">
					<div class="button-container">
						<a class="button  reverse" id="bLeft" style="font-weight: bold">
							La verità (cliccami!)
						</a>
					</div>
				</div>
				<% include partials/a/italiano.ejs %>
				<% include partials/a/storia.ejs %>
				<% include partials/a/inglese.ejs %>
				<% include partials/a/sistemi.ejs %>
				<% include partials/a/gestione.ejs %>
				<% include partials/a/informatica.ejs %>
			</div>
		</main>
		<% include partials/b/italiano.ejs %>
		<% include partials/b/storia.ejs %>
		<% include partials/b/inglese.ejs %>
		<% include partials/b/sistemi.ejs %>
		<% include partials/b/gestione.ejs %>
		<% include partials/b/informatica.ejs %>
		
		<div class="cd-transition-layer" data-frame="25">
			<div class="bg-layer"></div>
			</div> <!-- .cd-transition-layer -->
			
			<script type="text/javascript">
				$(".aText").fitText(1.1, { minFontSize: '15px', maxFontSize: '20px' });
			//if( !window.jQuery ) document.write('<script src="js/jquery-2.2.1-min.js"><\/script>');
			</script>
			<div class="jumbotron jumbotron-fluid bgf" style="height: 400px; width: 100%; margin-bottom: 0;">
				<div class="container" style="">
				</div>
			</div>
		</body>
	</html>