		<div class="cd-modal" id="modal-5">
			<div class="modal-content">
				<h2>Documentazione</h2>
				
				<p class="firstrow">
						<span class="firstcharacter">L</span><b>a documentazione tecnica</b>, consiste in un raggruppamento di documenti che descrivono un determinato prodotto di diversa natura o una <b>specifica procedura spigandone le funzionalità e le carattaristiche</b>, essa viene suddivisa in varie parti, che comprendono: <b>guide, manuali, how to, FAQ ecc…</b> una differenza sostanziale che possiamo trovare tra gli<b> “how to” e le guide</b> è che il primo tende a dare la soluzione <b>di uno specifico problema</b> mediante l’utilizzo del prodotto, mentre il secondo da un’impostazione più genereale sui problemi da risolvere, in ambito professionale la documentazione tecnica viene elaborata <b>da una persona che ha il ruolo specifico di documentarista</b> ovvero colui che riesce a congiungere <b>un’approfondita conoscenza del prodotto con una buona abilità espressiva.</b>
				</p>
				<p>
						Nell’ambito della sorveglianza di massa possiamo troavre una vasta gamma di documenti <b>“top-secret”</b> che vanno dalla descrizione di un determinato applicativo usato appunto dalle organizzazioni governative per il controllo assoluto della rete a documenti che <b>attestano la veridicità</b> dell’esistenza degli stessi programmi di sorveglianza e delle altre compagnie coinvolte quali Verizon, Facebook, Google, Microsoft ecc …
				</p>

				<div class="w3-content w3-display-container" style="margin: 0 auto">
						<img class="mySlides" src="/assets/img/genesis.jpg" style="height: auto; width: auto; display: block">
						<img class="mySlides" src="/assets/img/nightsand.jpg" style="width:100%; display: block">
						<img class="mySlides" src="/assets/img/ragemaster.jpg" style="width:100%; display: block">
						<img class="mySlides" src="/assets/img/somberknave.jpg" style="width:100%; display: block">
					  
						<button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)"><</button>
						<button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">></button>
				</div>
				</div> <!-- .modal-content -->
				<a href="#0" class="modal-close" id="close5">Close</a>
				</div> <!-- .cd-modal -->
				
				<script>
						var slideIndex = 1;
						showDivs(slideIndex);
						
						function plusDivs(n) {
						  showDivs(slideIndex += n);
						}
						
						function showDivs(n) {
						  var i;
						  var x = document.getElementsByClassName("mySlides");
						  if (n > x.length) {slideIndex = 1}    
						  if (n < 1) {slideIndex = x.length}
						  for (i = 0; i < x.length; i++) {
							 x[i].style.display = "none";  
						  }
						  x[slideIndex-1].style.display = "block";  
						}
				</script>