		<div class="cd-modal" id="modal-6">
			<div class="modal-content">
				<h2>My Modal Content</h2>
				
				<p class="firstrow">
						<span class="firstcharacter">I</span> Trojan chiamati anche <b>“Cavalli di Troia”</b> in informatica rappresentano software <b>apparentemente utili</b> che all’interno nascondono del codice malevolo, l’utente una volta scaricato e installato il software senza rendersene conto avvia in contemporanea (nel caso ci sia) al programma desiderato anche la parte di codice infetto e <b>una volta acquisiti i requisti di amministrazione</b> riesce in poco tempo a prendere <b>l’intero controllo della macchina.</b>
					</p>
				<p>
						<b>La prima diffusione di questi programmi avviene nel 1985</b> tramite un trojan denominato “Gotcha” che <b>spacciandosi per un visualizzatore grafico di file</b>, avviava una <b>formattazione a basso livello dell’intero disco locale</b>. Con la veloce diffusione di quesi software nel 1987 ci fu da parte de il <b>“Corriere della Sera” il primo articolo italiano riguardante virus informatici.</b>
				</p>
				<p>
						<b>Dal 2009 fino al 2011</b> la Germania utilizzò per fini di spionaggio il così detto “trojan di stato”, che <b>sotto il consenso del Tribunale ne consentiva l’utilizzo verso un soggetto finale</b> 
				</p>
				<p>
						La particolarità di questa tipologia di virus è che appunto nascondendosi all’interno di programmi apparentemente utili riescono molte volte a passare innossertvati attraverso gli antivirus in oltre ne esistono di vario tipo e sono in continua evoluzione, uno dei più diffusi prende il nome di <b>RAT ( Remote Access Trojan ).</b>
				</p>
				</div> <!-- .modal-content -->
				<a href="#0" class="modal-close" id="close6">Close</a>
				</div> <!-- .cd-modal -->