		<div class="cd-modal" id="modal-3">
			<div class="modal-content">
				<h2>The fear of reality</h2>
				
				<p class="firstrow">
					<span class="firstcharacter">T</span>he implement of mass surveillance in the United States starts at the beginning of World War I, it was seen more as <b>censorship</b> than surveillance but it was <b>effective</b> enough to discourage people <b>to make certain decisions</b> such as being deliberately part of extremist groups such as <b>Ku Klux Klan or anti-communist</b> because this would lead to the personal career and of course to the economic situation of the person and this is known as <b>corporate censorship.</b>
				</p>
				<p>
						After the first World War and at the beginning of the second, <b>programs such as COINTELPRO starts</b>, and several groups and  even single individuals that were fighting in the <b>"protest era"  (e.g. Martin Luther King Jr., Nation of Islam, and the Black Panther Party), were deemed as subversive and targeted by the FBI.</b> 
						After targeting and spying on them the <b>FBI financed and armed a secret group</b> called <b style="font-style: italic">Secret Army Organization</b>, formed with another anti-communist organization <b>that used violence and intimidation to have control over the Anti-War Movement.</b>
							
				</p>
				
				<p>
						In 1955 it was created an international alliance between <b>five nations known as Five Eyes (England, USA, Australia, Canada and New Zeland)</b> making the UKUSA agreement a lot larger, this agreement was established to create an international cooperation for signal intelligence creating another big project called <b>ECHELON</b>, initially this project was used <b>to monitor the communication in and from the Soviet Union</b>, <b>after 2001</b> it was used to catch <b>any kind of interaction between terrorists</b>,  but today thanks to the diffusion of internet and thanks to the documents that Edward Snowden published on the net we know that <b>the ECHELON project can monitor every pice of data</b> that navigate over the internet, so we could imagine that all our messages, all our Skype call, all our virtual identity <a href="https://bit.ly/2dwNPcx" class="artIt" style="color:#232222"><b>are not private.</b></a>  
				</p>
				</div> <!-- .modal-content -->
				<a href="#0" class="modal-close" id="close3">Close3</a>
				</div> <!-- .cd-modal -->