		<div class="cd-modal" id="modal-3">
			<div class="modal-content">
				<h2>My Modal Content</h2>
				
				<p class="firstrow">
					<span class="firstcharacter">T</span>he implement of mass surveillance in the United States starts at the beginning of World War I, it was seen more as censorship than surveillance but it was effective enough to discourage people to make certain decisions such as being deliberately part of extremist groups such as Ku Klux Klan or anti-communist because this would lead to the personal career and of course to the economic situation of the person and this is known as corporate censorship.
				</p>
				<p>

				</p>
				</div> <!-- .modal-content -->
				<a href="#0" class="modal-close" id="close3">Close3</a>
				</div> <!-- .cd-modal -->