		<div class="cd-modal" id="modal-1">
			<div class="modal-content">
				<h2>Pirandello e il relativismo conoscitivo</h2>
				
				<p class="firstrow">
					<span class="firstcharacter">I</span>l relativismo conoscitivo, noto in in filosofia come <b>relativismo gnoseologico</b>, è un concetto che esprime come la coscienza di un individuo non si basi su verità assolute (ovvero accettate da tutti) ma semplcemente, su verità soggettive (ovvero considerate dal singolo come tali), in contrapposizione con questa ideologia, possiamo trovare il metodo socratico, inteso come l’indagine interiore che ha lo scopo di ricercare verità a cui tutti gli uomini possono arrivare, poichè esse, possano però, trovare la luce è l’uomo stesso che deve rendersi cosciente delle proprie predisposizioni, ossia i propri obbiettivi.  
				</p>
				
				
				<p style="text-align: justify;">
				<img style="height: 300px; width: auto; float: right; margin: 15px 0px 10px 30px;" src="assets/img/mag.jpg"/> 
					È proprio nel “Fu Mattia Pascal”, che Pirandello, esprime la concezione di relativismo conoscitivo, inteso come l’assenza di una ben defnita forma del reale e anzi, dichiara come la realtà possa assuemere un’infinità di forme o meglio dire, tante realtà quanti sono i punti di vista. A questo discorso, si può associare la concezione dell’individuo nato in una società preocstituita, dove in un modo o nell’altro, egli deve riuscre a trovare posto seguendo però regole gia’ stabilite, non scelte e con la triste conspevolezza che solo il caso potrà liberarlo da questo dovere; il problema si trova proprio nel fatto che una volta che ci si è liberati da questo dovere non si può tornare indietro e che allo stesso tempo non si ha la sicurezza di trovare la pace tanto desiderata.
				</p>
				<p>
					Il relativismo conoscitivo, trova un senso di esistenza all’interno dell’argomento della sorveglianza di massa, qunado, il singolo soggetto, comincia a considerare la tecnologia come semplici dispositivi creati per semplificarci la vita, senza riflettere, allo stesso tempo, che essa sia tanto pericolosa, da poter ridurre esso stesso ad un semplice oggetto, con l’inconsapevolezza della propria utilità, ed è proprio qui che il piu’ grande esempio di sorveglianza di massa prende vita.
				</p>
				</div> <!-- .modal-content -->
				<a href="#0" class="modal-close" id="close">Close</a>
				</div>