<div class="cd-modal" id="modal-7">
        <div class="modal-content">
            <h2>Quanti?</h2>
            <p class="firstrow">
                <span class="firstcharacter">I</span>l modello TCP/IP è un insieme di protocolli che permette il funzionamento di internet tra dispositivi diversi permettendo l’inivio e la ricezione di dati per far si si mettono inisieme il protocollo TCP che ha la funzione di raccogliere, dividere e mandare le informazioni pezzo per pezzo per poi ricostruire i dati inviati una volta arrivati a destinazione, mentre il protocollo IP è quello che effettivamente ci permette la corretta ricezione dei dati in una determinata destinazione, esso è composto da 4 byte (32 bit) ma noi nei casi in cui ne abbiamo bisogno lo scriviamo in forma decimale <b>(es: 10010101.00101001.11001000.10100010 => 149.41.200.162 )</b> il problema è che questi indirizzi hanno un limite che matematicamente possiamo rappresentare con <b>2^32 = 4.294.967296</b> è che ad oggi non sono abbastanza da poter identificare ogni dispositivo, da qui si è iniziato ad utilizzare l’IPv6 che permette la connessione di <b>2^128 = 3.402823669×10³⁸</b>  
            </p>
            </div> <!-- .modal-content -->
            <a href="#0" class="modal-close" id="close7">Close</a>
            </div>