		<div class="cd-modal" id="modal-4">
			<div class="modal-content">
				<h2>Com'è possibile?</h2>
				
				<p class="firstrow">
					<span class="firstcharacter">I</span>nternet è un immenso inisieme di reti che riesce a interconnettere dispositivi e terminali da distanze altrettanto immense, dalla sua creazione è considerato uno degli strumenti di informazione potenzialmente più fornito al mondo, l’accesso ai siti web che noi tutti ormai otteniamo tramite <b>motori di ricerca</b> è possibile grazie al fatto che precedentemente ci fossero altri inisemi di reti con fini diversi, all’inizio venivano utilizzate a <b>scopo di ricerca</b> situate in diversi dipartimenti universitari, ogniuna con il proprio protocollo, fino a quando non si decise di creare un cosidetto <b>standard “de facto”</b> quello che oggi viene chiamato il protocollo <b>TCP/IP</b> ovvero l’unione del protocollo TCP che serve ai pacchetti (l’unità minima di informazione) per trovare i percorsi più economici per arrivare fino alla destinazione data mediante il numero e/o protocollo IP, tra i protoccoli più importanti possiamo nominare <b>l’HTTP (HyperText Transfer Protocol), utilizzato per la visualizzazione delle pagine web e l’FTP (File Transfer Protocol) ovvero quello che ci permette di scaricare ogni contenuto dalla rete a un dispositivo.</b>
				</p>
				<p>
					Quando stipuliamo un contratto con l’operatore telefonico che in ambito di rete viene chiamto <b>ISP (Internet Service Provider)</b> ci viene fornito in base al tipo di contratto un <b>router/modem/adsl</b> che grazie all’ISP ci permetterà di navigare in rete mediante una linea di telecomunicazione dedicata, di cui potremmo concretamente usufruire tramite dei software chiamati <b>web browser (Chrome, Firefox, Opera ecc…)</b>, quando cerchiamo una qualsiasi informazione in rete, i pacchetti prima di raggiungere la destinazione <b>devono sempre passare tramite i canali dell’ISP che a loro volta sono connessi a ISP più grandi e veloci</b>, questo veloce ma immenso passaggio tra ISP è stato ed è da sempre <b>una grande controversia per quanto riguarda la privacy di tutti gli utenti che navigano in rete</b>. 
					Da quando i documenti dell’NSA sono stati resi pubblici da Edward Snowden ci è ben chiaro come l’agenzia governativa riesca ad attuare una pesca di dati così tanto prolifera, il segreto si trova proprio nel fatto che praticamente <b>tutti gli operatori a cui ci appoggiamo per navigare in rete sono a loro volta appoggiati a operatori americani</b> che in un modo o nell’altro sono <b>sotto il controllo dell’NSA</b> e che grazie a immense infrastruttre situate in varie parti del globo <b>riescono ad immagazinare una innumerabile mole di dati</b>, che provengano da reti pubbliche o private non importa l’unica cosa che importa e raccoglierne il più possibile.
				</p>
				<p>
					Il 2 agosto 2013 un articolo del Süddeutsche Zeitung rivela da alcuni documenti che i maggiori ISP europei e no:
					<ul>
						<li>svolgono veri e propri attacchi informatici a reti private;</li> 
					
						<li>alterano attivamente il traffico utente allo scopo di sfruttare vulnerabilità (tramite exploit) e installare trojan su determinati computer, compromettono così sistemi informatici onde ottenerne controllo completo al pc delle vittime.</li>
					</ul>
				</p>
				<p style="margin-top: 0">
					<b>Gli ISP coinvolti vengono definiti "la Crème de la Crème" di Internet, in quanto da soli hanno il controllo quasi totale sul traffico Internet mondiale.</b>
				</p>
				</div> <!-- .modal-content -->
				<a href="#0" class="modal-close" id="close4">Close</a>
				</div> <!-- .cd-modal -->