		<div class="cd-modal" id="modal-2">
			<div class="modal-content">
				<h2>Gli occhi invisibili della "sicurezza"</h2>
				
				<p class="firstrow">
					<span class="firstcharacter">P</span>er <b>totalitarismo</b> si intende una forma do governo, presente attorno al XX secolo, dove lo Stato, cerca di riformare dalla base una società completamente nuova, mobilitata nel <b>nome della nazione</b> e di un <b>ideale ben definito</b>. 
					Tra le più importanti ricordiamo: <b>il fascismo, il nazismo e il comunismo</b>, l’aspetto più caratterizzante di questi governi è il grande impegno che lo Stato (in questo caso, <b>costituito da un unico partito</b>) impiega per far <b>assimilare forzatamente</b> una determinata ideologia, (tramite la propaganda) così da poter cambiare radicalmente il modo di pensare della popolazione e poterne <b>plagiare le menti</b>, non accettando alcuno spunto ideologicamente differente, che nei casi, viene represso con la <b>censura</b> e con la <b>violenza</b>.

				</p>
				<p>
					In questa particolare forma di governo, “la realtà individuale” (maggiormente nei <b>più giovani</b>) che dovrebbe accompagnare la singola persona giorno per giorno, è <b>corrotta</b> dall’impossibilità di avere <b>testimonianze culturali</b> e <b>ideologiche diverse</b>, da quelle statali e di conseguenza di poter creare una possibile <b>antitesi</b> a quella realtà che si è sempre vissuta, in questo caso, la forma della realtà che dovrebbe essere in continuo mutamento (<b>relativismo conoscitivo</b>), comincia ad avere una <b>conformità</b>, non solo individuale ma collettiva, adesso la persona può <b>trovare il suo posto</b> all’interno della società senza alcun problema, peccato però, che il suo posto sia tra le <b>reclute di guerra</b>.
				</p>
				<p>
					L’importanza che la sorveglianza di massa riesce ad ottenere in uno Stato totalitario, è tanto grande quanto scontato, poter sorvegliare un gruppo di sovversivi, prima che essi possano davvero aver compiuto qualcosa di concreto, gioca un ruolo fondamentale per la supremazia interna del regime, la questione però, si intensifica alla fine della seconda guerra mondiale (es: Germania dell’est, sotto lo spionaggio russo) e in molti casi anche in Stati dove il totalitarismo è assente.
					Enti governativi come FBI e NSA, cominciano a porre le basi per diversi sotto-progetti segreti, che poi verranno, nel 2013, resi pubblici da Edward Snowden, sotto il nome precedentemente noto al pubblico come “ECHELON”, da qui in poi però, lo spionaggio oltre che ad essere di massa e individuale coinvolgerà sia stati alleati agli USA che nemici.
				</p>
				</div> <!-- .modal-content -->
				<a href="#0" class="modal-close" id="close2">Close</a>
				</div> <!-- .cd-modal -->