@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i|Roboto:400,500i');

.bgh{
	background-image: url("/assets/img/header.png");
	background-repeat: no-repeat;
	background-position: center ; 
	background-size: cover;
}

.bgf{
	background-image: url("/assets/img/footer001.jpg");
	background-repeat: no-repeat;
	background-position: top; 
	background-size: cover;
	margin-bottom: 0; 
}

.firstcharacter {
  color: #232222;
  float: left;
  font-family: serif;
  font-size: 125px;
  line-height: 60px;
  padding-top: 17px;
  padding-right: 20px;
  padding-left: 3px;
  margin-bottom:25px;
}

.firstrow::first-line{
  color: #232222;
}

#header{
	font-size: 10px;
	text-align: right;
	margin-right: 10px;
	color: #ccd1d9;
	position: relative;
	bottom: 50px;
}

#header > h1, h3{
	margin-bottom: 0;
	text-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

body{
	background-image: url("/assets/img/bg.png");
}

line > h1{
	color: white;
}
h1{
	font-family: 'Open Sans';
}

.argom{
    position: relative;
    right: 0px;
  	height: 100%;
    padding: 10px;
    display: inline-block;

}

.line{
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
}

#aText{
	font-size: 8px;
	font-family: 'Open Sans';
}

.col{
	color: white;
}

#gestione{
	bottom: 16px;
	position: relative;
}

.sub > .square{
	z-index: 1;
	height: 40px;
	margin: 0 auto;
	width: 350px;
	height: 70px;
	background-color: white;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	font-family: 'Roboto';
	font-weight: 500;
	font-style: italic;
	margin-left: -200px;  
  	display: inline-block;
  	
}

.ratio4-3 {
 width: 100%;
 background-image: url(/assets/img/books.svg);
 background-size: cover;
 height: 0;
 padding: 0; /* reset */
 padding-bottom: calc(100% * 3 / 4);
}

.square,
.circle {
  z-index: 0;
  margin: 0 auto;
  pointer-events: none;
  position: relative;
  background-color: currentColor;
  bottom: 200px;
  background-color: blue;
  box-shadow: 0 0px 0px rgba(0,0,0,0.19), 0 0px 0px rgba(0,0,0,0.23);
}

.small{
	margin-bottom: 150px;
}
.rightLeft{
	min-height: 800px;
	max-height: 100%;
}

#cssProperties .el {
  -webkit-transform: translate3d(0,0,0);
   transform: translate3d(0,0,0);
}

a {
  text-decoration: none !important;
  color: aliceblue;
}

a:hover{
	text-decoration: none;
	color: aliceblue;
}

.artIt:hover{
	font-style: italic;
}

.w3-container,.w3-panel{padding:0.01em 16px}
.w3-container:after,.w3-container:before{content:"";display:table;clear:both}
.w3-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.w3-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.w3-content{max-width:980px;margin:auto;}
.w3-display-container{position:relative;}

.foo{
	background-color: #232222;
	opacity: 0.5;
	position: relative;
	top: 20%;
	margin-right: 20px;
	max-width: 450px;
	float: right;
}

.continer{
	bottom: 10px;
}
/*.button-container-left{
  text-align: left;
}
*/

/*.button-container{ 
  text-align: center;
}

.button {
  display: inline-block;
  padding: 12px 24px;
  border: 2px solid white;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
}
.button:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.button:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #39bda7;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}
.button:hover {
  color: aliceblue;
  border: 2px solid black;
}
.button:hover:before {
  top: -35%;
  background-color: black;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.button:hover:after {
  top: -45%;
  background-color: black;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}*/

/* Top Navigation Style */

.grid__item {
	position: relative;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	align-items: center;
	justify-items: center;
	overflow: hidden;
	padding: 4rem 1.5rem;
}


.action {
	position: absolute;
	top: 0;
	right: 0;
	background: none;
	margin: 2rem;
	color: var(--color-action);
	border: 0;
	padding: 0;
	opacity: 0;
	pointer-events: none;
}

.action:focus {
	outline: none;
}

.particles {
	position: relative;
	grid-area: 1 / 1 / 2 / 2;
}

.particles-canvas {
	position: absolute;
	pointer-events: none;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%,-50%,0);
}

.particles-wrapper {
	position: relative;
	display: inline-block;
    overflow: hidden;
}

.particles-button {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
	border-radius: 5px;
	border-radius: var(--radius-button);
	background: var(--color-button-bg);
	color: var(--color-button-text);
	border: 0;
	border: var(--border-button);
	margin: 0;
	padding: 1.5rem 3rem;
	padding: var(--button-padding);
}

.particles-button:focus {
	outline: none;
}

.no-js .particles-button {
	grid-area: 1 / 1 / 2 / 2;
}
.theme-6 {
	--color-item-bg: linear-gradient(120deg,#9C27B0,#090772);
	--color-action: #f7d337;
	--color-button-bg: #f7d337;
	--color-button-text: #000000;
	--button-padding: 1.5rem 3rem;
	--radius-button: 40px;
	--border-button: 0;
}

