<div class="line" style="margin-bottom: 0;">
	<div class="line sub el" style="margin-bottom: 0;">
		<div data-x = "0" data-y="200" class="square el" style="">
			<h1 id="gestione" style="color: black; padding: 10px 5px 5px 5px; font-size: 40px"><span><img style="width: 40px; height: 40px;margin: 5px 0px 20px 0px; position: relative; right: 48px; top: 15px;" src="/assets/img/gestioneproj.svg"></span>GESTIONE<span style="position: relative; bottom: 15px; left: 25px;"><br/><p style="font-size: 20px; position: relative; margin-bottom: 10px; color: black">PROGETTO</p></span></h1>
		</div>
		<a href="#modal-5" class="cd-btn cd-modal-trigger" id="toggled5" style=" display: inline-block;  white-space: nowrap;">DOC. TECNICA</a>
	</div>
</div>